__pycache__
emb/
data/
output/
config/claude_api_key.txt
config/openai_api_key.txt

docs/
experiments/
experiments_full/

draft.ipynb
download_mag.py
download_dataset_amazon.ipynb
download_dataset_mag.ipynb
download_dataset_prime.ipynb
autoevaluate.py