__pycache__
emb/
output/
config/claude_api_key.txt
config/openai_api_key.txt
data/amazon/raw/
data/mag/raw/
data/primekg/raw/
data/primekg/raw.zip
data/amazon/processed/
data/mag/processed/
data/primekg/processed/

draft.ipynb
download_mag.py
download_dataset_amazon.ipynb
download_dataset_mag.ipynb
download_dataset_primekg.ipynb