anthropic>=0.27.0
bs4
bm25
colbert-ai 
gdown
gritlm
huggingface_hub
langchain
langdetect
llm2vec
multiprocess
nltk
numpy
ogb
openai
pandas
PyTDC
torch
torch_geometric
torchmetrics
tqdm
transformers
voyogeai