absl-py==1.4.0
accelerate @ git+https://github.com/huggingface/accelerate@95bffdec4326acf6a5d1c3dbaa857a26502aa265
aiohttp==3.8.4
aiosignal==1.3.1
amazon-product-review-scraper==0.9
anthropic==0.25.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
args==0.1.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bert-score==0.3.13
bitsandbytes==0.39.1
blis==0.2.4
boto3==1.34.52
botocore==1.34.52
bottlenose==1.1.8
cachetools==5.3.1
captum==0.2.0
catalogue==2.0.10
certifi==2023.5.7
charset-normalizer==3.2.0
cilog==1.3.0
click==8.1.4
clint==0.5.1
cloudpathlib==0.16.0
cloudpickle==2.2.1
cmake==3.26.4
comm==0.1.3
confection==0.1.3
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.8
dataclasses==0.6
dataclasses-json==0.6.2
datasets==2.9.0
debugpy==1.6.7
decorator==5.1.1
deepspeed==0.9.5
dill==0.3.6
distro==1.8.0
dive-into-graphs==1.1.0
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.6.0
einops-exts==0.0.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#sha256=4db16860a8cdef56d436038ace6abeb9181a5176bdc8c16c755a20dced51e5f1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
faiss==1.7.4
fake-useragent==1.3.0
filelock==3.12.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
future==0.18.3
futures==3.0.5
fuzzywuzzy==0.18.0
gdown==4.7.1
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.22.0
google-auth-oauthlib==1.0.0
greenlet==3.0.1
grpcio==1.57.0
h11==0.14.0
h5py==3.9.0
hjson==3.1.0
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.16.4
hydra-core==1.3.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.0
ipykernel==6.24.0
ipython==8.12.2
isodate==0.6.1
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.4
langchain==0.0.339
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.66
lightning-utilities==0.9.0
lit==16.0.6
littleutils==0.2.2
llvmlite==0.40.1
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==2.8
ninja==1.11.1
nltk==3.8.1
numba==0.57.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1687808301083/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
ogb==1.3.6
omegaconf==2.3.0
open-clip-torch @ git+https://github.com/usuyama/open_clip.git@01a53cc46662d8b28da0c9d73271bfb8f6f4b20d
openai==1.3.8
opencv-python==4.8.0.74
openpyxl==3.1.2
outdated==0.2.2
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathtools==0.1.2
peft==0.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
plac==0.9.6
platformdirs==3.8.1
preshed==2.0.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-tgb==0.1.1
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.11
pyDeprecate==0.3.1
pyg-lib==0.2.0+pt20cu117
Pygments==2.15.1
pyparsing==3.0.9
pyscf==2.3.0
PySocks==1.7.1
PyTDC==0.4.1
python-amazon-simple-product-api==2.2.11
python-dateutil==2.8.2
pytorch-lightning==1.5.10
pytz==2023.3
pyvis==0.3.2
PyYAML==6.0
pyzmq==25.1.0
ray==2.7.1
rdflib==7.0.0
rdkit-pypi==2022.9.5
referencing==0.30.2
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3transfer==0.10.0
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.13.0
sentencepiece==0.1.99
sentry-sdk==1.27.1
setproctitle==1.3.2
shap==0.42.1
six==1.16.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==2.1.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
srsly==1.0.7
stack-data==0.6.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.1
texttable==1.6.7
thinc==7.0.8
threadpoolctl==3.1.0
tiktoken==0.5.1
timm==0.9.2
tokenizers==0.13.3
torch==2.0.0
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torchmetrics==1.0.2
torchvision==0.15.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers@abaca9f9432a84cfaa95531de4c72334f38a42f2
triton==2.0.0
typed-argument-parser==1.7.2
typeguard==4.2.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2023.3
urllib3==1.26.16
wandb==0.13.10
wasabi==0.10.1
wcwidth==0.2.6
weasel==0.3.3
Werkzeug==2.3.7
xlrd==2.0.1
xxhash==3.2.0
yacs==0.1.8
yarl==1.9.2
zipp==3.15.0
zstandard==0.21.0
